/* This sets one background image for the whole page */
.app-container {
  min-height: 100vh; /* full screen height */
  display: flex;
  flex-direction: column;
  background-color: black;
}

/* make content expand and push footer down */
.content {
  flex: 1;
 
}

/* transparent header & footer */
.header,
.footer {
  background-color:black; /* black transparent layer */
  color: white;
}

